extends layout

block content
  h1= title
  p Welcome to #{title}

  .dic1
    input#a.foo1.foo2
  .div2
    ul#block
      li
        a(href="#") Twelve rules for life
      li
        a(href="#") Twelve more rules for life
